@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: orange;
    text-shadow: 0 0 20px orange;
    text-decoration: none;
    transition: .3s;
}
.contenedor-header header .logo a:hover{
    text-shadow: 0 0 20px orange,
                0 0 50px orange,
                0 0 85px orange;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .3s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: orange;
    text-shadow: 0 0 20px orange,
    0 0 50px orange,
    0 0 85px orange;
}
.nav-responsive{
    background-color: orange;
    box-shadow: 0 0 20px orange;
    transition: .3s;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
.nav-responsive:hover{
    color: #fff;
    box-shadow: 0 0 20px orange,
    0 0 50px orange,
    0 0 85px orange;
}
/* INICIO */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.7), rgba(30,35,38,.9)),
    url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    text-align: center;
    border-radius: 40px;
    margin: auto;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #fff;
    box-shadow: 0 0 10px #fff;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 48px;
    font-family: 'Righteous';
    text-shadow: 0 0 10px #fff;
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .5s;
    box-shadow: 0 0 8px #fff;
}
.inicio .contenido-banner .redes a:hover{
    background-color: orange;
    box-shadow: 0 0 20px orange,
    0 0 50px orange;
}
.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    text-shadow: 0 0 10px #fff;
}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    font-size: 18px;
    color: rgb(224, 141, 64);
    text-shadow: 0 0 8px orange;
}
.sobremi .contenedor-hobbies{
   display: flex;
   flex-wrap: wrap;
}
.sobremi h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
    text-align: center;
    text-shadow: 0 0 8px #fff;
}
.sobremi .contenedor-hobbies .hobbies{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: auto 15px 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.sobremi .contenedor-hobbies .hobbies:hover{
    background-color: indigo;
    box-shadow: 0 0 20px indigo,
    0 0 50px indigo,
    0 0 85px indigo;
    transform: scale(1.15);
}
.sobremi .contenedor-hobbies .hobbies i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi .button{
    cursor: pointer;
    background-color: orange;
    border: none;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 0 0 20px orange;
    transition: .5s;
    text-decoration: none;
}
.sobremi .button:hover{
    color: #fff;
    box-shadow: 0 0 20px orange,
                0 0 50px orange,
                0 0 85px orange;
}
.skills{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    text-shadow: 0 0 10px #fff;
}
.skills .fila{
    display: flex;
    flex-wrap: wrap;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 0 0 8px #fff;
}
.skills .fila .contenedor-skills{
    display: flex;
    flex-wrap: wrap;
}
.skills .fila .skills{
    width: 100px;
    height: 100px;
    background-color: #1e2326;
    border-radius: 10px;
    margin: auto 15px 15px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.skills .fila .skills:hover{
    background-color: indigo;
    box-shadow: 0 0 20px indigo,
    0 0 50px indigo,
    0 0 85px indigo;
    transform: scale(1.15);
}
.skills .fila .skills i{
    font-size: 30px;
    margin-bottom: 10px;
}
/* PROYECTOS */
.proyectos{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.proyectos .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.proyectos h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    text-shadow: 0 0 10px #fff;
}
.proyectos .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.proyectos .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    transition: .5s;
}
.proyectos .galeria .proyecto img{
    width: 100%;
    transition: .7s;
}
.proyectos .galeria .proyecto img:hover{
    opacity: .5;
}
.proyectos .galeria .proyecto h3{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.proyectos .galeria .proyecto p{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.proyectos .galeria .proyecto:hover{
    transform: scale(1.15);
    box-shadow: 0 0 20px gray;
}
/* CONTACTO */
.contacto{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contacto .contenedor-contacto input, .contenedor-contacto textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #1e2326;
    color: #fff;
    font-size: 18px;
}
.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(224, 141, 64);
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay{
    width: 100%;
}
/* Footer */
footer{
    background-color: #252A2E;
    color: #fff;
    padding: 20px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .5s;
    box-shadow: 0 0 8px #fff;
}
footer .redes a:hover{
    background-color: orange;
    box-shadow: 0 0 20px orange,
    0 0 50px orange;
}
footer .redes a:hover{
    background-color: rgb(224, 141, 64);
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: orange;
    box-shadow: 0 0 20px orange;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}
footer .arriba:hover{
    box-shadow: 0 0 20px orange,
    0 0 50px orange,
    0 0 85px orange;
}
@media screen and (max-width:980px) {
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px) {
    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: fit-content;
    }
    .proyectos .galeria{
        display: block;
        width: 100%;
    }
    .proyectos .galeria .proyecto{
        max-width: 100%;
    }
    .proyectos .galeria .proyecto img{
        width: 100%;
    }
}